<div >
    <h3>Create Equipment</h3>
    <form (ngSubmit)="onSubmit()" >
    <div class="form-group">
        <label>Equipment Name (*)</label>
        <input type="text" class="form-control" id="equipmentNo" [(ngModel)]="equipment.id.equipmentNo" name="equipmentNo" required>
    </div>
    <div class="form-group">
        <label>Equipment Type (*)</label>
        <input type="text" class="form-control" id="equipmentType" [(ngModel)]="equipment.id.equipmentType" name="equipmentType" required>
    </div>
    <div class="form-group">
        <label>Usage Location (*)</label>
        <input type="text" class="form-control" id="locationOfUse" [(ngModel)]="equipment.id.locationOfUse" name="locationOfUse" required>
    </div>
    <div class="form-group">
        <label>Plant (*)</label>
        <input type="text" class="form-control" id="plant" [(ngModel)]="equipment.id.plant" name="plant" required>
    </div>
    <div class="form-group">
        <label>Section (*)</label>
        <input type="text" class="form-control" id="section" [(ngModel)]="equipment.id.section" name="section" required>
    </div>
    <div class="form-group">
        <label>Desired Accuracy</label>
        <input type="text" class="form-control" id="desiredAccuracy" [(ngModel)]="equipment.desiredAccuracy" name="desiredAccuracy">
    </div>
    <div class="form-group">
        <label>Equipment Description</label>
        <input type="text" class="form-control" id="equipmentDesc" [(ngModel)]="equipment.equipmentDesc" name="equipmentDesc">
    </div>
    <div class="form-group">
        <label>Equipment Frequency</label>
        <input type="text" class="form-control" id="frequency" [(ngModel)]="equipment.frequency" name="frequency">
    </div>
    <div class="form-group">
        <label>Equipment Status</label>
        <input type="text" class="form-control" id="status" [(ngModel)]="equipment.status" name="status">
    </div>
    <div class="form-group">
        <label>Intimidation Days</label>
        <input type="number" class="form-control" id="intimidationDays" [(ngModel)]="equipment.intimitationDays" name="intimidationDays">
    </div>
    <div class="form-group">
        <label>Last Calibration</label>
        <input type="date" class="form-control" id="lastCalib" [(ngModel)]="equipment.lastCalib" name="lastCalib">
    </div>
    <div class="form-group">
        <label>Equipment Range</label>
        <input type="text" class="form-control" id="rangeee" [(ngModel)]="equipment.rangeee" name="rangeee">
    </div>
    <div class="form-group">
        <label>Equipment Remarks</label>
        <input type="text" class="form-control" id="remarks" [(ngModel)]="equipment.remarks" name="remarks">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!isFormValid()"> SUBMIT</button>
    
    </form>
</div>