<div >
    <h3>View Equipment</h3>
    
    <div >
        <label><b>Equipment Name : </b></label>{{equipment.id.equipmentNo}}
    </div>
    <div >
        <label><b>Equipment Type : </b></label>{{equipment.id.equipmentType}}
    </div>
    <div >
        <label><b>Usage Location : </b></label>{{equipment.id.locationOfUse}}
    </div>
    <div >
        <label><b>Plant : </b></label>{{equipment.id.plant}}
    </div>
    <div >
        <label><b>Section : </b></label>{{equipment.id.section}}
    </div>
    <div >
        <label><b>Desired Accuracy : </b></label>{{equipment.desiredAccuracy}}
    </div>
    <div >
        <label><b>Equipment Description : </b></label>{{equipment.equipmentDesc}}
    </div>
    <div >
        <label><b>Equipment Frequency : </b></label>{{equipment.frequency}}
    </div>
    <div >
        <label><b>Equipment Status : </b></label>{{equipment.status}}
    </div>
    <div >
        <label><b>Intimidation Days : </b></label>{{equipment.intimitationDays}}
    </div>
    <div >
        <label><b>Last Calibration : </b></label>{{equipment.lastCalib}}
    </div>
    <div >
        <label><b>Equipment Range : </b></label>{{equipment.rangeee}}
    </div>
    <div >
        <label><b>Equipment Remarks : </b></label>{{equipment.remarks}}
    </div>
    
</div>